img.rc-phone-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
img.rc-desktop-image {
  width: 150px;
  height: 150px;
  border-radius: 5%;
}

.rc-item {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.rc-item.rc-desktop {
  width: 150px;
}

.rc-item > div {
  border: 2px solid transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.rc-item > img {
  border: 2px solid grey;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.md-button {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.rc-selected.rc-male > img {
  border: 2px solid rgba(63, 81, 181, 0.75);
  transform: scale(1.02);
  -webkit-box-shadow: 5px 5px 20px 0 rgba(63,81,181,0.75);
  -moz-box-shadow: 5px 5px 20px 0 rgba(63,81,181,0.75);
  box-shadow: 5px 5px 20px 0 rgba(63,81,181,0.75);
}

.rc-selected.rc-female > img {
  border: 2px solid rgba(255, 64, 129, 0.75);
  transform: scale(1.02);
  -webkit-box-shadow: 5px 5px 20px 0 rgba(255,64,129,0.75);
  -moz-box-shadow: 5px 5px 20px 0 rgba(255,64,129,0.75);
  box-shadow: 5px 5px 20px 0 rgba(255,64,129,0.75);
}

.rc-selected.rc-male > div {
  /*color: #3f51b5;*/
  border-bottom: 2px solid rgb(63, 81, 181);
}

.rc-selected.rc-female > div {
  /*color: #ff4081;*/
  border-bottom: 2px solid rgb(255, 64, 129);
}

.rc-item.rc-unselected {
  opacity: 0.2;
}

a {
  color: #3f51b5;
}

a:visited {
  color: #3f51b5;
}

/*Animations*/

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.slide.ng-enter {
  left: 100%;
}
.slide.ng-enter-active {
  left: 0;
}
.slide.ng-leave {
  left: 0;
}
.slide.ng-leave-active {
  left: -100%;
}