<md-card style="width: {{viewport.container}};">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Face of the year</h2>
    </div>
  </md-toolbar>

  <md-card-content layout="column" layout-margin>

    <md-subheader class="md-subheader">Male</md-subheader>

    <div layout="row" layout-align="space-around">
      <div class="rc-item rc-desktop rc-male" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectMale('Kushal Choudhari', $event)">
        <img class="rc-desktop-image" src="images/nominees/kushal-choudhari/desktop.png" alt="Kushal Choudhari"/>

        <div flex>Kushal Choudhari</div>
      </div>
      <div class="rc-item rc-desktop rc-male" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectMale('Varun Dave', $event)">
        <img class="rc-desktop-image" src="images/nominees/varun-dave/desktop.png" alt="Varun Dave"/>

        <div flex>Varun Dave</div>
      </div>
      <div class="rc-item rc-desktop rc-male" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectMale('Hasnen', $event)">
        <img class="rc-desktop-image" src="images/nominees/hasnen/desktop.png" alt="Hasnen"/>

        <div flex>Hasnen</div>
      </div>
      <div class="rc-item rc-desktop rc-male" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectMale('Vedant Desai', $event)">
        <img class="rc-desktop-image" src="images/nominees/vedant-desai/desktop.png" alt="Vedant Desai"/>

        <div flex>Vedant Desai</div>
      </div>
    </div>

    <br/>
    <md-divider></md-divider>
    <br/>

    <md-subheader class="md-subheader">Female</md-subheader>

    <div layout="row" layout-align="space-around">
      <div class="rc-item rc-desktop rc-female" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectFemale('Forum Nayak', $event)">
        <img class="rc-desktop-image" src="images/nominees/forum-nayak/desktop.png" alt="Forum Nayak"/>
        <div flex>Forum Nayak</div>
      </div>
      <div class="rc-item rc-desktop rc-female" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectFemale('Jenny Kansara', $event)">
        <img class="rc-desktop-image" src="images/nominees/jenny-kansara/desktop.png" alt="Jenny Kansara"/>
        <div flex>Jenny Kansara</div>
      </div>
      <div class="rc-item rc-desktop rc-female" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectFemale('Priyanka Patel', $event)">
        <img class="rc-desktop-image" src="images/nominees/priyanka-patel/desktop.png" alt="Priyanka Patel"/>
        <div flex>Priyanka Patel</div>
      </div>
      <div class="rc-item rc-desktop rc-female" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectFemale('Azmeen Bhabharawala', $event)">
        <img class="rc-desktop-image" src="images/nominees/azmeen-bhabharawala/desktop.png" alt="Azmeen Bhabharawala"/>
        <div flex>Azmeen Bhabharawala</div>
      </div>
    </div>

    <br/>
    <md-divider></md-divider>
    <br/>

    <div layout="row" layout-align="center">
      <md-button class="md-button md-primary md-raised" ng-disabled="!sectionFilled()" ng-click="next()">
        Next
      </md-button>
    </div>

  </md-card-content>
</md-card>