<md-card>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Red Carpet</h2>
    </div>
  </md-toolbar>

  <md-card-content layout="column" layout-margin>

    <md-subheader class="md-subheader">Rising Star</md-subheader>

    <md-list>
      <md-list-item class="rc-item" layout="row">
        <img class="rc-phone-image" src="images/nominees/alay-patel/phone.png" alt="Alay Patel"/>
        <h5>Alay Patel</h5>
      </md-list-item>
      <md-list-item class="rc-item" layout="row">
        <img class="rc-phone-image" src="images/nominees/maunil-swadas/phone.png" alt="Alay Patel"/>
        <h5>Maunil Swadas</h5>
      </md-list-item>
      <md-list-item class="rc-item" layout="row">
        <img class="rc-phone-image" src="images/nominees/parth-joshi/phone.png" alt="Alay Patel"/>
        <h5>Parth Joshi</h5>
      </md-list-item>
      <md-list-item class="rc-item" layout="row">
        <img class="rc-phone-image" src="images/nominees/shubham-dhar/phone.png" alt="Alay Patel"/>
        <h5>Shubham Dhar</h5>
      </md-list-item>
    </md-list>

  </md-card-content>
</md-card>