<md-card>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Sports Icon</h2>
    </div>
  </md-toolbar>

  <md-card-content layout="column" layout-margin>

    <div layout="column">
      <div class="rc-item rc-male" layout="row" layout-margin layout-padding layout-align="start center"
           ng-click="select('Vikas Dhangada', $event)">
        <img class="rc-phone-image" src="images/nominees/vikas-dhangada/phone.png" alt="Vikas Dhangada"/>

        <div flex>Vikas Dhangada</div>
      </div>
      <div class="rc-item rc-male" layout="row" layout-margin layout-padding layout-align="start center"
           ng-click="select('Manthan Mehta', $event)">
        <img class="rc-phone-image" src="images/nominees/manthan-mehta/phone.png" alt="Manthan Mehta"/>

        <div flex>Manthan Mehta</div>
      </div>
      <div class="rc-item rc-male" layout="row" layout-margin layout-padding layout-align="start center"
           ng-click="select('Vikas Vahoniya', $event)">
        <img class="rc-phone-image" src="images/nominees/vikas-vahoniya/phone.png" alt="Vikas Vahoniya"/>

        <div flex>Vikas Vahoniya</div>
      </div>
      <div class="rc-item rc-male" layout="row" layout-margin layout-padding layout-align="start center"
           ng-click="select('Tanmay Parekh', $event)">
        <img class="rc-phone-image" src="images/nominees/tanmay-parekh/phone.png" alt="Tanmay Parekh"/>

        <div flex>Tanmay Parekh</div>
      </div>
    </div>

    <br/>
    <md-divider></md-divider>
    <br/>

    <div layout="row" layout-align="center">
      <md-button class="md-button md-primary md-raised" ng-disabled="!sectionFilled()" ng-click="next()">
        Next
      </md-button>
    </div>

  </md-card-content>
</md-card>