<md-card style="width: {{viewport.container}};">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Red Carpet</h2>
    </div>
  </md-toolbar>

  <md-card-content layout="column" layout-margin>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at eligendi illum molestiae mollitia quod
      similique voluptate? Autem earum eius expedita, harum mollitia nemo quas ratione, tempore tenetur totam
      voluptates.
    </p>

    <br/>
    <md-divider></md-divider>
    <br/>

    <div layout="row" layout-align="center">
      <md-button class="md-button md-primary md-raised" ng-click="next()">Next</md-button>
    </div>

  </md-card-content>
</md-card>