<md-card style="width: {{viewport.container}};">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Red Carpet</h2>
    </div>
  </md-toolbar>

  <md-card-content layout="column" layout-margin>

    <!--<p>-->
    <!--The "Red Carpet Awards" is a prestigious award ceremony which is part and parcel of every Udaan. The nominations-->
    <!--in various categories of this award ceremony consists of students from different branches of BVM. They are duly-->
    <!--selected by the Apex Committee of Udaan each year. This year no different, continuing the legacy, we present you-->
    <!--the Red Carpet of Udaan 2K15 with 6 categories and total of 38 nominations.-->
    <!--</p>-->

    <!--<p>-->
    <!--Every single vote counts. Vote WISELY.-->
    <!--</p>-->

    <p>
      AIM:
    </p>

    <p>
      APPARATUS:
    </p>

    <p>
      THEORY:
    </p>

    <p>
      PROCEDURE:
    </p>

    <p>
      DIAGRAM:
    </p>

    <p>
      CONCLUSION:
    </p>

    <p>
      RESULT:
    </p>

    <br/>
    <md-divider></md-divider>
    <br/>

    <div layout="row" layout-align="center">
      <md-button class="md-button md-primary md-raised" ng-click="next()">Next</md-button>
    </div>

  </md-card-content>
</md-card>