<md-card>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Red Carpet</h2>
    </div>
  </md-toolbar>

  <md-card-content layout="column" layout-margin>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at eligendi illum molestiae mollitia quod
      similique voluptate? Autem earum eius expedita, harum mollitia nemo quas ratione, tempore tenetur totam
      voluptates.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cum incidunt iusto laudantium nemo. Adipisci
      aliquam asperiores beatae dolor dolores, est, illum maiores quae quia recusandae sit suscipit vel voluptatibus.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, culpa cumque cupiditate dignissimos dolor,
      ducimus fugiat in iure laboriosam laborum maxime odit quibusdam, quisquam rem sequi soluta velit voluptatem
      voluptatibus.
    </p>

    <br/>
    <md-divider></md-divider>
    <br/>

    <div layout="row" layout-align="center">
      <md-button class="md-button md-primary md-raised" ng-click="next()">Next</md-button>
    </div>

  </md-card-content>
</md-card>