<md-card style="width: {{viewport.container}};">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Artist</h2>
    </div>
  </md-toolbar>

  <md-card-content layout="column" layout-margin>

    <md-subheader class="md-subheader">Male</md-subheader>

    <div layout="row" layout-align="space-around">
      <div class="rc-item rc-desktop rc-male" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectMale('Purnank Patel', $event)">
        <img class="rc-desktop-image" src="images/nominees/purnank-patel/desktop.png" alt="Purnank Patel"/>

        <div flex>Purnank Patel</div>
      </div>
      <div class="rc-item rc-desktop rc-male" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectMale('Kishan Naraniya', $event)">
        <img class="rc-desktop-image" src="images/nominees/kishan-naraniya/desktop.png" alt="Kishan Naraniya"/>

        <div flex>Kishan Naraniya</div>
      </div>
      <div class="rc-item rc-desktop rc-male" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectMale('Akash Joshi', $event)">
        <img class="rc-desktop-image" src="images/nominees/akash-joshi/desktop.png" alt="Akash Joshi"/>

        <div flex>Akash Joshi</div>
      </div>
      <div class="rc-item rc-desktop rc-male" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectMale('Akshat Uniyal', $event)">
        <img class="rc-desktop-image" src="images/nominees/akshat-uniyal/desktop.png" alt="Akshat Uniyal"/>

        <div flex>Akshat Uniyal</div>
      </div>
    </div>

    <br/>
    <md-divider></md-divider>
    <br/>

    <md-subheader class="md-subheader">Female</md-subheader>

    <div layout="row" layout-align="space-around">
      <div class="rc-item rc-desktop rc-female" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectFemale('Dhvani Katkaria', $event)">
        <img class="rc-desktop-image" src="images/nominees/dhvani-katkaria/desktop.png" alt="Dhvani Katkaria"/>
        <div flex>Dhvani Katkaria</div>
      </div>
      <div class="rc-item rc-desktop rc-female" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectFemale('Niharika Modi', $event)">
        <img class="rc-desktop-image" src="images/nominees/niharika-modi/desktop.png" alt="Niharika Modi"/>
        <div flex>Niharika Modi</div>
      </div>
      <div class="rc-item rc-desktop rc-female" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectFemale('Aditi Patel', $event)">
        <img class="rc-desktop-image" src="images/nominees/aditi-patel/desktop.png" alt="Aditi Patel"/>
        <div flex>Aditi Patel</div>
      </div>
      <div class="rc-item rc-desktop rc-female" layout="column" layout-margin layout-padding layout-align="center center"
           ng-click="selectFemale('Vanshi Upadhyaya', $event)">
        <img class="rc-desktop-image" src="images/nominees/vanshi-upadhyaya/desktop.png" alt="Vanshi Upadhyaya"/>
        <div flex>Vanshi Upadhyaya</div>
      </div>
    </div>

    <br/>
    <md-divider></md-divider>
    <br/>

    <div layout="row" layout-align="center">
      <md-button class="md-button md-primary md-raised" ng-disabled="!sectionFilled()" ng-click="next()">
        Finish
      </md-button>
    </div>

  </md-card-content>
</md-card>