<md-card>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Artist</h2>
    </div>
  </md-toolbar>

  <md-card-content layout="column" layout-margin>

    <div layout="column">
      <div class="rc-item rc-male" layout="row" layout-margin layout-padding layout-align="start center"
           ng-click="selectMale('Purnank Patel', $event)">
        <img class="rc-phone-image" src="images/nominees/purnank-patel/phone.png" alt="Purnank Patel"/>

        <div flex>Purnank Patel</div>
      </div>
      <div class="rc-item rc-male" layout="row" layout-margin layout-padding layout-align="start center"
           ng-click="selectMale('Kishan Naraniya', $event)">
        <img class="rc-phone-image" src="images/nominees/kishan-naraniya/phone.png" alt="Kishan Naraniya"/>

        <div flex>Kishan Naraniya</div>
      </div>
      <div class="rc-item rc-male" layout="row" layout-margin layout-padding layout-align="start center"
           ng-click="selectMale('Akash Joshi', $event)">
        <img class="rc-phone-image" src="images/nominees/akash-joshi/phone.png" alt="Akash Joshi"/>

        <div flex>Akash Joshi</div>
      </div>
      <div class="rc-item rc-male" layout="row" layout-margin layout-padding layout-align="start center"
           ng-click="selectMale('Akshat Uniyal', $event)">
        <img class="rc-phone-image" src="images/nominees/akshat-uniyal/phone.png" alt="Akshat Uniyal"/>

        <div flex>Akshat Uniyal</div>
      </div>
    </div>

    <br/>
    <md-divider></md-divider>
    <br/>

    <div layout="column">
      <div class="rc-item rc-female" layout="row" layout-margin layout-padding layout-align="end center"
           ng-click="selectFemale('Dhwani Katkoria', $event)">
        <div flex style="text-align: right;">Dhwani Katkoria</div>
        <img class="rc-phone-image" src="images/nominees/dhwani-katkoria/phone.png" alt="Dhwani Katkoria"/>
      </div>
      <div class="rc-item rc-female" layout="row" layout-margin layout-padding layout-align="end center"
           ng-click="selectFemale('Niharika Modi', $event)">
        <div flex style="text-align: right;">Niharika Modi</div>
        <img class="rc-phone-image" src="images/nominees/niharika-modi/phone.png" alt="Niharika Modi"/>
      </div>
      <div class="rc-item rc-female" layout="row" layout-margin layout-padding layout-align="end center"
           ng-click="selectFemale('Aditi Patel', $event)">
        <div flex style="text-align: right;">Aditi Patel</div>
        <img class="rc-phone-image" src="images/nominees/aditi-patel/phone.png" alt="Aditi Patel"/>
      </div>
      <div class="rc-item rc-female" layout="row" layout-margin layout-padding layout-align="end center"
           ng-click="selectFemale('Vanshi Upadhyaya', $event)">
        <div flex style="text-align: right;">Vanshi Upadhyaya</div>
        <img class="rc-phone-image" src="images/nominees/vanshi-upadhyaya/phone.png" alt="Vanshi Upadhyaya"/>
      </div>
    </div>

    <br/>
    <md-divider></md-divider>
    <br/>

    <div layout="row" layout-align="center">
      <md-button class="md-button md-primary md-raised" ng-disabled="!sectionFilled()" ng-click="next()">
        Finish
      </md-button>
    </div>

  </md-card-content>
</md-card>