<md-card>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Red Carpet</h2>
    </div>
  </md-toolbar>

  <md-card-content layout="column" layout-margin>

    <p ng-if="mode == 'upload' || mode == 'retry'">
      Upload Content
    </p>

    <div ng-if="mode == 'upload'" layout="row" layout-align="center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <br/>
    <md-divider></md-divider>
    <br/>

    <div ng-if="mode == 'upload'" layout-fill layout="row" layout-align="center center">
      <md-button class="md-primary" ng-disabled="true">Uploading</md-button>
    </div>

    <div ng-if="mode == 'retry'" layout-fill layout="row" layout-align="center center">
      <md-button class="md-primary" ng-click="confirm()">Retry</md-button>
    </div>

    <div ng-if="mode == 'feedback'" layout-fill layout="row" layout-align="center center">
      <md-button class="md-primary" ng-click="next()">Feedback</md-button>
    </div>

  </md-card-content>
</md-card>