<md-card>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Style Icon</h2>
    </div>
  </md-toolbar>

  <md-card-content layout="column" layout-margin>

    <md-subheader class="md-subheader">Male</md-subheader>

    <div layout="column">
      <div class="rc-item rc-male" layout="row" layout-margin layout-padding layout-align="start center"
           ng-click="selectMale('Aksh Sharma', $event)">
        <img class="rc-phone-image" src="images/nominees/aksh-sharma/phone.png" alt="Aksh Sharma"/>

        <div flex>Aksh Sharma</div>
      </div>
      <div class="rc-item rc-male" layout="row" layout-margin layout-padding layout-align="start center"
           ng-click="selectMale('Dhruv Patel', $event)">
        <img class="rc-phone-image" src="images/nominees/dhruv-patel/phone.png" alt="Dhruv Patel"/>

        <div flex>Dhruv Patel</div>
      </div>
      <div class="rc-item rc-male" layout="row" layout-margin layout-padding layout-align="start center"
           ng-click="selectMale('Neeraj Parmar', $event)">
        <img class="rc-phone-image" src="images/nominees/neeraj-parmar/phone.png" alt="Neeraj Parmar"/>

        <div flex>Neeraj Parmar</div>
      </div>
      <div class="rc-item rc-male" layout="row" layout-margin layout-padding layout-align="start center"
           ng-click="selectMale('Vatsa Barot', $event)">
        <img class="rc-phone-image" src="images/nominees/vatsa-barot/phone.png" alt="Vatsa Barot"/>

        <div flex>YVtsa Barot</div>
      </div>
    </div>

    <br/>
    <md-divider></md-divider>
    <br/>

    <md-subheader class="md-subheader">Female</md-subheader>

    <div layout="column">
      <div class="rc-item rc-female" layout="row" layout-margin layout-padding layout-align="end center"
           ng-click="selectFemale('Ishita Ghodasara', $event)">
        <div flex style="text-align: right;">Ishita Ghodasara</div>
        <img class="rc-phone-image" src="images/nominees/ishita-ghodasara/phone.png" alt="Ishita Ghodasara"/>
      </div>
      <div class="rc-item rc-female" layout="row" layout-margin layout-padding layout-align="end center"
           ng-click="selectFemale('Sakshi Sanyal', $event)">
        <div flex style="text-align: right;">Sakshi Sanyal</div>
        <img class="rc-phone-image" src="images/nominees/sakshi-sanyal/phone.png" alt="Sakshi Sanyal"/>
      </div>
      <div class="rc-item rc-female" layout="row" layout-margin layout-padding layout-align="end center"
           ng-click="selectFemale('Khushboo Desai', $event)">
        <div flex style="text-align: right;">Khushboo Desai</div>
        <img class="rc-phone-image" src="images/nominees/khushboo-desai/phone.png" alt="Khushboo Desai"/>
      </div>
      <div class="rc-item rc-female" layout="row" layout-margin layout-padding layout-align="end center"
           ng-click="selectFemale('Pinal Meruliya', $event)">
        <div flex style="text-align: right;">Pinal Meruliya</div>
        <img class="rc-phone-image" src="images/nominees/pinal-meruliya/phone.png" alt="Pinal Meruliya"/>
      </div>
    </div>

    <br/>
    <md-divider></md-divider>
    <br/>

    <div layout="row" layout-align="center">
      <md-button class="md-button md-primary md-raised" ng-disabled="!sectionFilled()" ng-click="next()">
        Next
      </md-button>
    </div>

  </md-card-content>
</md-card>