<md-card>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Red Carpet</h2>
    </div>
  </md-toolbar>

  <md-card-content layout="column" layout-margin>

    <md-input-container>
      <label>Enrollment No.</label>
      <input type="number" ng-model="data.enroll" title="Enrollment No." placeholder="130070107022">
    </md-input-container>

    <md-input-container>
      <label>Key</label>
      <input type="text" ng-model="data.key" title="Key" md-maxlength="4" placeholder="xxxx">
    </md-input-container>

    <div layout="row" layout-align="center">
      <md-button class="md-button md-primary md-raised" ng-click="login($event)">Login</md-button>
    </div>

    <div layout="row" layout-align="center">
      <md-button style="font-size: small; margin: 30px 0;" md-no-ink class="md-primary"
                 ng-click="showRegistration($event)">Where's my key ?
      </md-button>
    </div>

    <div style="text-align: center;">
      Made with
      <md-icon md-svg-src="images/favorite.svg"></md-icon>
      By
      <a href="http://www.facebook.com/dhruvin2910" target="_blank">
        Dhruvin Gandhi
      </a>
    </div>

  </md-card-content>
</md-card>